* {
    box-sizing: border-box;
  }
//   .container {
//     border-radius: 5px;
//     background-color: #f2f2f2;
//     padding: 20px;

//   }

form-label{
 float: left;
 

}
// .row::after{
//     content: "";
//     display: table;

// }
input{
    text-align: left;
        margin-left: 20px;
        display: table-column;
      
}
form{
    width: 100%;   
    margin-top: 20px;
}
// col-25{
//     float: left;
//     width: 75%;
// margin-top: 10px;


// }
// col-75{
//     float: left;
//     width: 75%;
// margin-top: 10px;
// }
