<h1>Simple CRUD table component for Angular 12 using REST backend </h1>

<nav class="navbar">
  <input class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="firstName"
  (ngModelChange)= "search()"  placeholder=" Enter FirstName to search"><i class="fa fa-search" aria-hidden="false"></i>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div *ngIf="loader"><img src="../assets/loadingicon.gif" style="width: 100px;height:100px" ></div>
<table class=" table table-striped" *ngIf="!loader">
  <thead>
    <tr>
      <th (click)="sort('id')"><a href="#" class="sort-by">ID&nbsp;</a></th>
      <th  (click)="sort('firstName')"><a href="#" class="sort-by">FirstName&nbsp;</a></th> 
      <th  (click)="sort('lastName')"><a href="#" class="sort-by">LastName&nbsp;</a></th>
      <th  (click)="sort('email')"><a href="#" class="sort-by">Email&nbsp;</a></th>
      <th  (click)="sort('mobile')"><a href="#" class="sort-by">Mobile&nbsp;</a></th>
      <th  (click)="sort('salary')"><a href="#" class="sort-by">Salary&nbsp;</a></th>
    </tr>
  </thead>
    <tbody>
       <tr *ngFor="let Users of collection   |  orderBy: key: reverse">
          <td>{{Users.id}}</td>
           <td>{{Users.firstName}}</td>
           <td>{{Users.lastName}}</td>
            <td>{{Users.email}}</td>
            <td>{{Users.mobile}}</td>
            <td>{{Users.salary}}</td>
        <td>
         </tr> 
    </tbody>
  </table>
  
  <hr>
<div class="center">
  <button type="submit" class="btn btn-primary"  routerLink="/add" >Add</button>
</div>
 
